@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-feature-settings: 'zero';
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

/* source-code-pro-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: block;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-code-pro-v22-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2")
    format("woff2");
}
